ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}/* CSS files add styling rules to your content */

body{
   background: url(https://wallpaper-house.com/data/out/10/wallpaper2you_418381.jpg); /* 1920x1080 */
  background-size: cover;
  background-attachment: fixed;
  margin-top:0px;
  margin-left: 0px;
  margin-right: 0px;
  overflow-y: scroll;
}

#navbar{
  opacity: 0.7;
}

body, html {
    height: 100%;
}

#name{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
}